@charset "UTF-8";
/* CSS Document */

#tables{
  width:98%;
  font-weight: bold;
  border-collapse: collapse;
  text-shadow: 2px 2px 5px black;
}

#tables tr:nth-child(odd) {
  background-color: #ffff00;
  color:black;
   text-shadow: 2px 2px 5px red;
}

#tables tr {
    height:2.5em;
}

html, body {
	height: 100%;
	overflow: auto;
}
body {
  font-family: Verdana, Arial, sans-serif;
}

#buildings {
  margin-top:20px;
  position:fixed;
  z-index: 10;
  width:100%;
}

/*style of the homepage header*/
#header {
	display: block;
	text-shadow: 2px 2px 5px black;
	color: #c00;
	float: left;
	clear:both;
	text-align: center;
	background-color: yellow;
	opacity: 0.7;
	width: 315px;
}

/*style of the "help" and "about" links*/
#help a{
  color: #c00;
  font-weight: bold;
}

#help {
	display: block;
	position: fixed;
	text-shadow: 2px 2px 5px black;
	color: #c00;
	float: left;
	z-index: 9;
	text-align: center;
	background-color: yellow;
	opacity: 0.7;
	width: 315px;
	bottom: 0;
}

#bod {
	display:block;
  font-family: Verdana, Arial, sans-serif;
  color: #ff0;
}


/*style of the headers on all but the homepage*/
#headerr {
  width: 98%;
  text-shadow: 2px 2px 5px black;
}

h1 {
  text-align: center;
}


#photo img{
  display: block;
  width:98%;
  max-width:500px;
  margin:auto;
  text-align: center;
}

/*style of the "Directions" link*/
/* unvisited link */
#link a:link {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* visited link */
#link a:visited {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* mouse over link */
#link a:hover {
    color: blue;
    text-align: center;
      vertical-align: middle;
}

/* selected link */
#link a:active {
    color: blue;
      text-align: center;
      vertical-align: middle;
}

/*style of the "Directions" link*/
#link a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  vertical-align: middle;
  font-size:2em;
  
}

/*style of the "Directions" link*/
#link {
  width:19em;
  background-color: yellow;
  border: 3px solid black;
  margin: auto;
  text-align: center;
}

/*style of the "back to map" link*/
a {
text-decoration:none;
color: yellow;
font-weight: bold;
}

/*Div around the menu form*/
#selectb {
	float: left;
	overflow:auto;
	clear:both;
}

/*style of the menu form*/
select {
  width: 150px;
  height: 2em;
  font-weight: bold;
  color:Yellow;
  background-color: #c00;
  text-shadow: 2px 2px 5px black;
  clear: both;
}

/*style of the option within the menu form*/
option {
  font-weight: bold;
  color:Yellow;
  background-color: #c00;
  text-shadow: 2px 2px 5px black;
}

/*style of the map iframe*/
#frame {
  width: 100vw;
  height:100vh;
  display: block;
  margin: auto;
  max-width: 1280px;
  max-height: 1280px;
}

#map {
height:100%;
}

#container {
position: fixed;
z-index: 10;
}
