body {
  width: 99vw;
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#header {
  width: 98%;
  text-shadow: 2px 2px 5px black;
}

h1 {
  text-align: center;
}

img {
width: 98%;
max-width: 480px;
margin-left: auto;
margin-right: auto;
}

table{
  width:98%;
  font-weight: bold;
  border-collapse: collapse;
  text-shadow: 2px 2px 5px black;
}

/* unvisited link 
a:link {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* visited link 
a:visited {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* mouse over link 
a:hover {
    color: blue;
    text-align: center;
      vertical-align: middle;
}

/* selected link 
a:active {
    color: blue;
      text-align: center;
      vertical-align: middle;
}

a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  vertical-align: middle;
  font-size:2em;
  
}


#link {
  width:19em;
  background-color: yellow;
  border: 3px solid black;
  margin: auto;
  text-align: center;
}
*/
tr:nth-child(odd) {
  background-color: #ffff00;
  color:black;
    text-shadow: 2px 2px 5px red;
}

tr {
    height:2.5em;
}

#nav
{
    /* container */
}
    #nav > a
    {
        display: none;
    }
    #nav li
    {
        position: relative;
    }
 
    /* first level */
 
    #nav > ul
    {
        height: 3.75em;
    }
        #nav > ul > li
        {
            width: 25%;
            height: 100%;
            float: left;
        }
 
    /* second level */
 
    #nav li ul
    {
        display: none;
        position: absolute;
        top: 100%;
    }
        #nav li:hover ul
        {
            display: block;
        }







    #nav
    {
        position: relative;
    }
        #nav > a
        {
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
    #nav > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
 
    #nav li ul
    {
        position: static;
    }
