
#tables{
  width:98%;
  font-weight: bold;
  border-collapse: collapse;
  text-shadow: 2px 2px 5px black;
}

#tables tr:nth-child(odd) {
  background-color: #ffff00;
  color:black;
   text-shadow: 2px 2px 5px red;
}

#tables tr {
    height:2.5em;
}
body {
    font-family: Verdana, Arial, sans-serif;
}
/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	margin-right: 1px;
	font-weight: bold;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
	font-weight: bold;
}

/*Hover state for top level links*/
li:hover a {
	background: #c00;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #111;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #ff0;
	background: #c00;
	text-align: center;
	padding: 10px 0;
	display: none;
	width:100px;
	font-weight:bold;
	text-shadow: 2px 2px 5px black;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 2000px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}

#buildings {
  margin-top:20px;
  position:fixed;
  z-index: 10;
  width:100%;
}
#header {
  position:fixed;
  margin-left: 105px;
  margin-top:0;
  text-shadow: 2px 2px 5px black;

  color:#c00;
}

#map {
  position: absolute;
  z-index:-1;
}

#help a{
  text-decoration: none;
  color: #c00;
  font-weight: bold;
}

#help {
  text-align:center;
  position: fixed;
  z-index:5;
  margin-top:85vh;
  width:100%;
  background-color:#ff0;
  opacity: 0.8;
}
body {
  width: 99vw;
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#headerr {
  width: 98%;
  text-shadow: 2px 2px 5px black;
}

#headd {
  text-align: center;
}

#photo img{
width: 98%;
max-width: 480px;
margin-left: auto;
margin-right: auto;
}
