body {

  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#header {
  width: 99%;
  text-shadow: 2px 2px 5px black;
}
h1 {
  text-align: center;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#map {
  width: 95%;
  height: 65%%;
}
