body {
  width: 99vw;
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#header {
  width: 98%;
  text-shadow: 2px 2px 5px black;
}

h1 {
  text-align: center;
}

img {
width: 98px;
}

