body {
  width: 200vw;
  height: 200vh;
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#header {
  width: 45%;
  text-shadow: 2px 2px 5px black;
}
h1 {
  margin: auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#map {
  width: 46%;
  height: 40%;
}
