body {
  width: 99vw;
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#header {
  width: 98%;
  text-shadow: 2px 2px 5px black;
}

h1 {
  text-align: center;
}

img {
width: 98%;
max-width: 480px;
margin-left: auto;
margin-right: auto;
}

table{
  width:98%;
  font-weight: bold;
  border-collapse: collapse;
  text-shadow: 2px 2px 5px black;
}

/* unvisited link */
a:link {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* visited link */
a:visited {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* mouse over link */
a:hover {
    color: blue;
    text-align: center;
      vertical-align: middle;
}

/* selected link */
a:active {
    color: blue;
      text-align: center;
      vertical-align: middle;
}

a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  vertical-align: middle;
  font-size:2em;
  
}


#link {
  width:10em;
  background-color: yellow;
  border: 3px solid black;
  margin: auto;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #ffff00;
  color:red;
    text-shadow: 2px 2px 5px white;
}

tr {
    height:2.5em;
}
