
#tables{
  width:98%;
  font-weight: bold;
  border-collapse: collapse;
  text-shadow: 2px 2px 5px black;
}

#tables tr:nth-child(odd) {
  background-color: #ffff00;
  color:black;
   text-shadow: 2px 2px 5px red;
}

#tables tr {
    height:2.5em;
}
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
}


html {
  height:100%;
  width: 100%;
}

#buildings {
  margin-top:20px;
  position:fixed;
  z-index: 10;
  width:100%;
}
#header {
  position:fixed;
  margin: auto;
  text-shadow: 2px 2px 5px black;
  color:#c00;
  clear: left;
  z-index: 9;
  width: 100%;
  text-align: center;
  padding-top:10px;
}

#help a{
  text-decoration: none;
  color: #c00;
  font-weight: bold;
}

#help {
  text-align:center;
  position: fixed;
  z-index:5;
  margin-top:85vh;
  width:100%;
  background-color:#ff0;
  opacity: 0.8;
}
#bod {
  width: 99vw;
  font-family: Verdana, Arial, sans-serif;
  background-color: #c00;
  color: #ff0;
}

#headerr {
  width: 98%;
  text-shadow: 2px 2px 5px black;
}

h1 {
  text-align: center;
}


#photo img{
  display: block;
  width:98%;
  max-width:500px;
  margin:auto;
  text-align: center;
}
/* unvisited link */
#link a:link {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* visited link */
#link a:visited {
    color: red;
    text-align: center;
      vertical-align: middle;
}

/* mouse over link */
#link a:hover {
    color: blue;
    text-align: center;
      vertical-align: middle;
}

/* selected link */
#link a:active {
    color: blue;
      text-align: center;
      vertical-align: middle;
}

#link a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  vertical-align: middle;
  font-size:2em;
  
}


#link {
  width:19em;
  background-color: yellow;
  border: 3px solid black;
  margin: auto;
  text-align: center;
}

a {
text-decoration:none;
color: yellow;
font-weight: bold;
}

#selectb {
  width:98%;
  position: fixed;
  z-index: 10;
float:left;
}

select {
  width: 150px;
  height: 2em;
  font-weight: bold;
  color:Yellow;
  background-color: #c00;
  text-shadow: 2px 2px 5px black;
}

option {
  font-weight: bold;
  color:Yellow;
  background-color: #c00;
  text-shadow: 2px 2px 5px black;
}

#frame {
  width: 100vw;
  height:100vh;
  display: block;
  margin: auto;
  max-width: 1280px;
  max-height: 1280px;
}
